.wrapper {
    margin-left: 26px;
    margin-top: -16px;
}

.tablemodule {
    width: 1200px;
}

.field {
    min-width: 180px;
    font-size: 2.2rem;
    color: var(--primary-color);
}

.rowmodule {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.delete-btn {
    width: 80px;
    align-items: center;
    border: none;
    transition: all linear 0.05s;
}
.delete-btn:hover {
    cursor: pointer;
    background-color: rgb(253, 96, 96);
    color: white;
}

.update-btn {
    width: 80px;
    align-items: center;
    border: none;
    transition: all linear 0.05s;
    margin-right: 4px;
}
.update-btn:hover {
    cursor: pointer;
    background-color: rgb(56, 59, 233);
    color: white;
}

.product-img {
    background-size: 100px 100px !important;
}

.add-product {
    width: 140px;
    height: 40px;
    background-color: #dedede;
    text-align: center;
    line-height: 40px;
    margin: 8px 0;
    padding: 0 8px;
}

.add-product:hover {
    background-color: rgb(187, 187, 73);
    color: white;
    cursor: pointer;
}

.invoice {
    background-color: #ededed;
    margin: 12px;
    padding: 24px;
    width: 800px;
}
