.wrapper {
    padding: 46px 16px;
}

.product-info-box {
    background-color: white;
    padding: 6px;
    border: 1px solid #dedede;
}

.img {
    text-align: center;
    width: 90%;
    padding: 4px;
    margin-left: 16px;
    height: auto;
}

.pd-order-box {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.pd-description {
    flex: 4;
    padding: 6px;
    max-width: 400px;
}

.pd-tile {
    flex: 1;
}

.pd-name {
    margin-top: 6px;
    padding: 4px;
}

.pd-price {
    flex: 1;
    display: flex;
    padding: 6px;
    font-size: 2.6rem;
    color: red;
}

.vnd {
    align-self: flex-start;
    font-size: 1.8rem;
}

.amount-ctrl {
    display: flex;
    align-items: center;
    user-select: none;
    margin: 6px;
}

.amount-title {
    font-size: 1.8rem;
    margin-right: 28px;
}

.amount {
    display: inline-block;
    text-align: center;
    line-height: 32px;
    width: 42px;
    height: 32px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.amount-btn {
    width: 32px;
    height: 32px;
    font-size: 1.6rem;
    border: 1px solid #dedede;
    background-color: transparent;
    cursor: pointer;
}

.order-btn {
    margin: 8px;
    padding: 12px;
    background-color: #039cda;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color linear 0.1s;
}

.order-btn:hover {
    background-color: #0483c9;
}

.footer {
    height: 200px;
}
