.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.wrapper:hover {
    background-color: #dedede;
}

.image {
    width: 60px;
    height: auto;
    padding: 4px;
}

.name {
    padding: 4px;
    max-width: 120px;
    line-height: 1.8rem;
    height: 3.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.price {
    color: red;
    padding: 4px;
}
