.wrapper {
    padding: 16px;
}
.logo {
    margin: 16px 0;
    font-size: 4rem;
    cursor: pointer;
}

.controller-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 250px;
}

.controller-btn {
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 16px;
    font-size: 1.6rem;
    transition: all linear 0.1s;
}
.controller-btn:hover {
    cursor: pointer;
    background-color: rgb(13, 13, 177);
}
.layout-wrapper {
    display: flex;
}
.screen {
    margin: 16px;
}
