.logo {
    font-size: 4rem;
    color: black;
    margin-left: 16px;
    line-height: 64px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.login-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 560px;
    width: 420px;
    transform: translate(560px);
}

.title {
    color: var(--primary-color);
    font-size: 4.5rem;
    letter-spacing: 10px;
    text-align: center;
    width: 420px;
    user-select: none;
    padding: 8px 0;
}

.show {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.options {
    width: 210px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    user-select: none;
}
.options.active {
    border-top: solid var(--primary-color);
}

.form-login {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding: 8px;
}
.form-input {
    padding: 12px;
    border-radius: 3px;
    border: solid 2px var(--primary-color);
    outline: none;
    margin: 8px 4px;
    font-size: 1.6rem;
}
.form-input::placeholder {
    color: var(--primary-color);
}

.form-btn {
    padding: 14px;
    border-radius: 3px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    margin: 8px 4px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color linear 0.1s;
}

.form-btn:hover {
    background-color: rgba(9, 9, 121, 0.86);
}

.ftpw {
    width: 150px;
    color: var(--primary-color);
    margin: 8px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.ftpw:hover {
    color: rgb(44, 44, 199);
}
